<div class="row">
  <div class="col-lg-12">
    <div class="panel panel-default">
      <div class="panel-heading">
        <div class="row">
          <div class="col-md-8">
            <svg class="glyph stroked notepad "><use xlink:href="#stroked-notepad"/></svg> Turmas
          </div>
          <div class="col-md-4">
            <%= link_to 'Nova turma', new_admin_classroom_path, class: "btn btn-success pull-right" %>
          </div>
        </div>
      </div>
      <div class="panel-body">

        <table data-toggle="table" id="table-import" data-search="true" data-pagination="true">
          <thead>
              <th>Identificador</th>
              <th>Nome</th>
              <th>Curso</th>
              <th>Disciplina</th>
              <th>Professor</th>
              <th>Período</th>
              <th> </th>
              <th> </th>
          </thead>

          <tbody>
            <% @classrooms.each do |admin_classroom| %>
            <tr>
              <td><%= admin_classroom.code %></td>
              <td><%= link_to(admin_classroom.name, admin_classroom_path(admin_classroom)) %></td>
              <td><%= admin_classroom.course.description %></td>
              <td><%= admin_classroom.course_subject.description %></td>
              <td><%= admin_classroom.teacher.name %></td>
              <td><%= admin_classroom.semester %></td>
              <td><%= link_to 'Edit', edit_admin_classroom_path(admin_classroom), class: "btn btn-default" %></td>
              <td><%= link_to 'Delete', admin_classroom_path(admin_classroom), method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger" %></td>
            </tr>
            <% end %>
          </tbody>
        </table>

      </div>
    </div>
  </div>
</div>
