<div class="row">
  <div class="col-lg-12">
    <h1 class="page-header">Editar Semestre</h1>
  </div>
</div><!--/.row-->

<div class="row">
  <div class="col-lg-12">
    <div class="panel panel-default">
      <div class="panel-heading">
        <div class="row">
          <div class="col-md-8">
            Semestre <%= @semester.id %>
          </div>
        </div>
      </div>
      <%= form_for @semester, url: admin_semester_path(@semester), html: { method: :patch } do |f| %>
        <div class="panel-body" style="text-align: center">
         
					<div class="row">
            <div class="col-md-6">
              <%= f.select :year, (Time.now.year - 5)..Time.now.year %>
            </div>
            <div class="col-md-6">
              <%= f.select :semester, 1..2 %>
            </div>
          </div>
					
          <div class="row">
            <div class="col-md-12">
              <%= f.submit 'Salvar', class: 'btn btn-success' %>
            </div>
          </div>
        <% end %>
      </div><!-- panel-body -->
    </div><!-- panel panel-default -->
  </div>
</div>
