<div class="row">
  <div class="col-lg-12">
    <h1 class="page-header">Semestres</h1>
  </div>
</div><!--/.row-->

<div class="row">
  <div class="col-lg-12">
    <div class="panel panel-default">
      <div class="panel-heading">
        <div class="row">
          <div class="col-md-8">
            <svg class="glyph stroked calendar"><use xlink:href="#stroked-calendar"/></svg> Semestres Letivos
          </div>
          <div class="col-md-4">
            <%= link_to('Novo Semestre', new_admin_semester_path, class: "btn btn-success pull-right")%>
          </div>
        </div>
      </div>
      <div class="panel-body">
        <table data-toggle="table" id="table-import" data-search="true" data-pagination="true">
          <thead>
            <th>Id</th>
            
            <th colspan="3" style="text-align:center">Operações</th>
          </thead>
          <tbody>
            <% @semesters.each do |semester| %>
            <tr>
              <td> <%= semester.id %></td>

              <td style="text-align:center">
                <%= link_to admin_semester_path(semester), class: "label label-info" do %>
                <span>Detalhes</span>
                <% end %>
              </td>
              <td style="text-align:center">
                <%= link_to edit_admin_semester_path(semester), class: "label label-primary" do %>
                <span>Editar</span>
                <% end %>
              </td>
              <td style="text-align:center">
                <%= link_to admin_semester_path(semester),
                method: :delete,
                data: { confirm: 'Tem certeza que quer apagar
                  semestre letivo?' },
                  class: "label label-danger" do %>
                  <span>Excluir</span>
                  <% end %>
                </td>
              </tr>
              <% end %>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
