<div class="row">
  <div class="col-lg-12">
    <h1 class="page-header">Detalhes do Semestre</h1>
  </div>
</div><!--/.row-->

<div class="row">
  <div class="col-lg-12">
    <div class="panel panel-default">
      <div class="panel-body" style="text-align: center">
        <div class="row">
          <div class="col-md-4">
            <b>Periodo</b>
          </div>

        </div>

        <div class="row">
          <div class="col-md-4">
            <%= @semester.id %>
          </div>
         
        </div>
      </div> <!-- panel-body -->
    </div> <!-- panel panel-default -->
  </div>
</div> <!--/.row-->
</table>
