<style>
  label {
    display: block;
    margin-bottom: 5px;
  }
</style>
<div class="row">
  <div class="col-lg-12">
    <div class="panel panel-default">
      <div class="panel-heading">
        <div class="row">
          <div class="col-md-8">
            <svg class="glyph stroked database "><use xlink:href="#stroked-database"/></svg>
              Nova autorização
          </div>
        </div>
      </div>
      <div class="panel-body">
        <%= form_for([:admin, authorization]) do |form| %>
        <% if authorization.errors.any? %>
          <ul class="alert alert-danger">
            <% authorization.errors.full_messages.each do |message| %>
            <li><%= message %></li>
            <% end %>
          </ul>
        <% end %>

        <div class="form-group">
          <%= form.label :user_id, "Usuário" %>
          <%= form.select("user_id", options_from_collection_for_select(User.all, 'id', 'registration'), {}, class: "selectpicker", data: {'live-search' => 'true', width: "auto"}) %>
        </div>

        <div class="form-group">
          <%= form.label :course_id, "Curso" %>
          <%= form.select("course_id", options_from_collection_for_select(Course.all, 'id', 'description'), {}, class: "selectpicker", data: {'live-search' => 'true', width: "auto"}) %>
        </div>

        <div class="form-group">
          <%= form.submit 'Save', class: 'btn btn-success pull-right' %>
        </div>
        <% end %>
      </div>
    </div>
  </div>
</div>

<script type="text/javascript">
$('#xauthorization_course_id').selectpicker({
  size: 100
});
</script>
