<div class="row">
  <div class="col-lg-12">
    <div class="panel panel-default">
      <div class="form-horizontal">
        <div class="panel-heading"><svg class="glyph stroked desktop computer and mobile"><use xlink:href="#stroked-desktop-computer-and-mobile"></use></svg> Novo laboratório</div>
        <div class="panel-body">
          <div class="col-md-12">
            <%= form_for :laboratory, url: admin_laboratories_path do |f| %>

            <div class="form-group ">
              <%= f.label :name, "Nome", class: "col-sm-2 control-label"%>
              <div class="col-sm-4">
                <%= f.text_field :name , class:"form-control"%>
              </div>
            </div>
            <div class="form-group">
              <%= f.label :initials,"Sigla", class: "col-sm-2 control-label"%>
              <div class="col-sm-2">
                <%= f.text_field :initials, class:"form-control" %>
              </div>
            </div>
            <div class="form-group">
              <%= f.label :maximum_capacity, "Capacidade máxima",class: "col-sm-2 control-label"%>
              <div class="col-sm-2">
                <%= f.number_field :maximum_capacity, class:"form-control" %>
              </div>
            </div>
            <div class="form-group ">
              <%= f.label :amount_resources, "Quantidade de recursos", class: "col-sm-2 control-label" %>
              <div class="col-sm-2">
                <%= f.number_field :amount_resources, class:"form-control"  %>
              </div>
            </div>

            <div class="form-group ">
              <%= f.label :status, class: "col-sm-2 control-label" %>
              <div class="col-sm-2">
                <%= f.select :status, [['Ativo', true], ['Inativo', false]],  class:"form-control"  %>
              </div>

            </div>

            <div class="row">
              <div class="col-md-5">

              </div>
              <div class="col-md-7">
                <%= f.submit 'Salvar', class: 'btn btn-success' %>
              </div>
            </div>

            <% end %>

          </div>
        </div>
      </div>
    </div>

  </div>
</div>
