<div class="row">
  <div class="col-lg-12">
    <h1 class="page-header">Salas</h1>
  </div>
</div><!--/.row-->

<div class="row">
  <div class="col-lg-12">
    <div class="panel panel-default">
      <div class="panel-heading">
        <div class="row">
          <div class="col-md-8">
            <svg class="glyph stroked pencil"><use xlink:href="#stroked-pencil"/></svg> Salas
          </div>
          <div class="col-md-4">
            <%= link_to('Nova Sala', new_admin_schoolroom_path, class: "btn btn-success pull-right")%>
          </div>
        </div>
      </div>
      <div class="panel-body">
        <table data-toggle="table" id="table-import" data-search="true" data-pagination="true">
          <thead>
            <th>Id</th>
            <th>Nome</th>
            <th>Sigla</th>
            <th colspan="3" style="text-align:center">Ações</th>
          </thead>

          <tbody>
            <% @schoolrooms.each do |schoolroom| %>
            <tr>
              <td><%= schoolroom.id %></td>
              <td><%= schoolroom.name %></td>
              <td><%= schoolroom.initials %></td>
              <td style="text-align:center">
                <%= link_to admin_schoolroom_path(schoolroom), class: "label label-info" do %>
                <span>Detalhes</span>
                <% end %>
              </td>
              <td style="text-align:center">
                <%= link_to edit_admin_schoolroom_path(schoolroom), class: "label label-primary" do %>
                <span>Editar</span>
                <% end %>
              </td>
              <td style="text-align:center">
                <%= link_to admin_schoolroom_path(schoolroom),
                method: :delete,
                data: { confirm: 'Tem certeza que quer apagar sala?' },
                class: "label label-danger" do %>
                <span>Excluir</span>
                <% end %>
              </td>
            </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
