<div class="row">
  <div class="col-lg-12">
    <div class="panel panel-default ">
      <div class="form-horizontal">
        <div class="panel-heading"><svg class="glyph stroked pencil"><use xlink:href="#stroked-pencil"></use></svg>Sala <%= @schoolroom.initials%></div>
        <div class="panel-body">
          <div class="col-md-12">


            <div class="row">
              <div class="col-md-4">
                <%= label_tag("Nome: ")%>
                <%= @schoolroom.name%>
              </div>
              </div>
              <br />
              <div class="row">
                <div class="col-md-4">
                  <%= label_tag("Sigla: ")%>
                  <%= @schoolroom.initials %>
                </div>
              </div>
            <br />
            <div class="row ">
              <div class="col-md-4">
                <%= label_tag("Capacidade máxima: ")%>
                <%= @schoolroom.maximum_capacity %>
              </div>
            </div>
            <br />
            <div class="row">
              <div class="col-md-4">
                <%= label_tag("Quantidade de recursos: ")%>
                <%= @schoolroom.amount_resources %>
              </div>
            </div>
            <br />
            <div class="row">
              <div class="col-md-3">
                <%= label_tag("Status: ")%>
                <% if @schoolroom.status? %>
                <span class="label label-success">Ativo</span>
                <% else %>
                <span class="label label-danger">Inativo</span>
                <% end %>
              </div>
            </div>

            </div>
          </div>
        </div>
      </div>
    </div>
  </table>
