<div class="row">
  <div class="col-lg-12">
  </div>
</div><!--/.row-->

<div class="row">
  <div class="col-lg-12">
    <div class="panel panel-default">
      <div class="panel-heading">
        <div class="row">
          <div class="col-md-8">
            <svg class="glyph stroked home"><use xlink:href="#stroked-home"/></svg> Campi
          </div>
          <div class="col-md-4">
            <%= link_to('Importar do SUAP', importar_admin_campus_index_path, class: "btn btn-success pull-right")%>
          </div>
        </div>
      </div>
      <div class="panel-body">
        <table data-toggle="table" id="table-import">
          <thead>
            <th>#</th>
            <th>Sigla</th>
            <th>Descrição</th>
            <th>Ações</th>
          </thead>

          <tbody>
            <%- @campus.each do |campi| %>
            <tr>
              <td><%= campi.id %></td>
              <td><%= campi.sigla %></td>
              <td><%= campi.description %></td>
              <td>
                <%= link_to('Ver horários', admin_campus_campus_schedules_path(campi), class: 'btn btn-default')%>
                <%= link_to('Ver cursos', admin_courses_path, class: 'btn btn-default')%>
              </td>
            </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
