<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Horário IFPB</title>

    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag 'admin', media: 'all' %>
    <%= javascript_include_tag 'admin' %>
  </head>

<body>
  <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#sidebar-collapse">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#"><span>Horário</span>IFPB</a>
        <ul class="user-menu">
          <li class="dropdown pull-right">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown"><svg class="glyph stroked male-user"><use xlink:href="#stroked-male-user"></use></svg> User <span class="caret"></span></a>
            <ul class="dropdown-menu" role="menu">
              <li><a href="#"><svg class="glyph stroked male-user"><use xlink:href="#stroked-male-user"></use></svg> Profile</a></li>
              <li><a href="#"><svg class="glyph stroked gear"><use xlink:href="#stroked-gear"></use></svg> Settings</a></li>
              <li><a href="/logout"><svg class="glyph stroked cancel"><use xlink:href="#stroked-cancel"></use></svg> Logout</a></li>
            </ul>
          </li>
        </ul>
      </div>

    </div><!-- /.container-fluid -->
  </nav>

  <div id="sidebar-collapse" class="col-sm-3 col-lg-2 sidebar">
    <ul class="nav menu">
      <li class="active">
        <%= link_to admin_path do %>
          <svg class="glyph stroked dashboard-dial"><use xlink:href="#stroked-dashboard-dial"></use></svg>Dashboard
        <% end %>
      </li>
      <li>
        <%= link_to(admin_campus_index_path) do %>
        <svg class="glyph stroked home"><use xlink:href="#stroked-home"/></svg> Campi
        <% end %>
      </li>
      <li>
        <%= link_to(admin_courses_path) do %>
          <svg class="glyph stroked brush"><use xlink:href="#stroked-brush"/></svg> Cursos
        <% end %>
      </li>
      <li>
        <%= link_to(admin_course_subject_index_path) do %>
          <svg class="glyph stroked clipboard with paper"><use xlink:href="#stroked-clipboard-with-paper"/></svg> Disciplinas
        <% end %>
      </li>
      <li>
        <%= link_to(admin_laboratories_path) do %>
          <svg class="glyph stroked desktop computer and mobile"><use xlink:href="#stroked-desktop-computer-and-mobile"/></svg> Laboratórios
        <% end %>
      </li>
      <li>
        <%= link_to(admin_teacher_index_path) do %>
          <svg class="glyph stroked heart"><use xlink:href="#stroked-heart"/></svg> Professores
        <% end %>
      </li>
      <li>
        <%= link_to(admin_schoolrooms_path) do %>
          <svg class="glyph stroked pencil"><use xlink:href="#stroked-pencil"/></svg> Salas
        <% end %>
      </li>
      <li>
        <%= link_to(admin_semesters_path) do %>
          <svg class="glyph stroked calendar"><use xlink:href="#stroked-calendar"/></svg> Semestres
        <% end %>
      </li>
      <li>
        <%= link_to(admin_classrooms_path) do %>
          <svg class="glyph stroked notepad "><use xlink:href="#stroked-notepad"/></svg> Turmas
        <% end %>
      </li>
      <% if user_is_admin? %>
        <li>
          <%= link_to(admin_authorizations_path) do %>
            <svg class="glyph stroked database "><use xlink:href="#stroked-database"/></svg> Autorizações
          <% end %>
        </li>
      <% end %>

    </ul>
  </div><!--/.sidebar-->

  <div class="col-sm-9 col-sm-offset-3 col-lg-10 col-lg-offset-2 main">
    <%= render 'admin/partials/breadcrumbs' %>
    <div class="row">
      <div class="col-md-12">
        <% flash.each do |name, msg| -%>
          <%= content_tag :div, msg, class: "alert bg-#{name}" %>
        <% end %>
      </div>
    </div>
    <%= yield %>
  </div>

  <script>
    $('form .calendar').datepicker({
      format: "dd/mm/yyyy",
      language: "pt-BR"
    });

    !function ($) {
      $(document).on("click","ul.nav li.parent > a > span.icon", function(){
        $(this).find('em:first').toggleClass("glyphicon-minus");
      });
      $(".sidebar span.icon").find('em:first').addClass("glyphicon-plus");
    }(window.jQuery);

    $(window).on('resize', function () {
      if ($(window).width() > 768) $('#sidebar-collapse').collapse('show')
    })
    $(window).on('resize', function () {
      if ($(window).width() <= 767) $('#sidebar-collapse').collapse('hide')
    })
</script>
</body>

</html>
